button.blog-btn
  .blog-btn__arrow
.blog-sidebar
  .blog-search
    input.blog-search__input(type="text", placeholder="Search")
    button.blog-search__btn
      img(src="img/blog1/search.svg", alt="Search icon")
  .blog-widget
    .blog-widget__title Recent Post
    .blog-widget__post
      .blog-widget__post__img
        img(src="img/blog1/recent-1.jpg", alt="Recent post image")
      .blog-widget__post__descr
        a(href="#").blog-widget__post__title The Master bedroom
        .blog-widget__post__text Lorem ipsum dolor sit amet,  icing.
    .blog-widget__post
      .blog-widget__post__img
        img(src="img/blog1/recent-2.jpg", alt="Recent post image")
      .blog-widget__post__descr
        a(href="#").blog-widget__post__title The Master bedroom
        .blog-widget__post__text Lorem ipsum dolor sit amet,  icing.
    .blog-widget__post
      .blog-widget__post__img
        img(src="img/blog1/recent-3.jpg", alt="Recent post image")
      .blog-widget__post__descr
        a(href="#").blog-widget__post__title The Master bedroom
        .blog-widget__post__text Lorem ipsum dolor sit amet,  icing.
  .blog-widget
    .blog-widget__title Category
    a(href="#").blog-widget__category Cloud Hosting
    a(href="#").blog-widget__category Shared Hosting
    a(href="#").blog-widget__category VPS Hosting
    a(href="#").blog-widget__category Uncatagorized
  .blog-widget
    .blog-widget__title Popular Tags
    a(href="#").blog-widget__tag Apps
    a(href="#").blog-widget__tag Awards
    a(href="#").blog-widget__tag Web Template
    a(href="#").blog-widget__tag Awards
    a(href="#").blog-widget__tag Web Template
    a(href="#").blog-widget__tag UI
    a(href="#").blog-widget__tag Web Template
    a(href="#").blog-widget__tag Awards