extends ../base

include ../mixins

block main
  include ../../components/blog-main/blog-main
  .blog
    .container
      button.blog-btn
        .blog-btn__arrow
      .blog-list
        +blogItem("img/blog1/post-1.jpg", "The master bedroom suite is spaci of ", "16 June, 2018", "22", "36", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.")
        +blogItem("img/blog1/post-2.jpg", "The master bedroom suite is spaci of ", "16 June, 2018", "22", "36", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.")
        +blogItem("img/blog1/post-3.jpg", "The master bedroom suite is spaci of ", "16 June, 2018", "22", "36", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.")
        +blogItem("img/blog1/post-4.jpg", "The master bedroom suite is spaci of ", "16 June, 2018", "22", "36", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.")
        +blogItem("img/blog1/post-5.jpg", "The master bedroom suite is spaci of ", "16 June, 2018", "22", "36", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.")
        .blog-pagination
          a(href="#").blog-pagination__btn.blog-pagination__btn_active 1
          a(href="#").blog-pagination__btn 2
          a(href="#").blog-pagination__btn 3
          a(href="#").blog-pagination__btn 4
          a(href="#").blog-pagination__btn.blog-pagination__arrow
            .blog-pagination__btn_next
      include ../../components/blog-sidebar/blog-sidebar