section.main
  .container
    .main-text
      .main-text__pretitle Latest info
      h2.main-text__title Our blog post
      .main-text__page Home - Right Side Bar Blog
    .main-img
      img(src="img/blog1/main-img.png", alt="Main image")