mixin blogItem(imgPath, title, date, comments, likes, text)
  .blog-item
    .blog-item__img
      img(src=imgPath, alt="Post image")
    .blog-item__descr
      a(href="./post.html").blog-item__title= title
      .blog-item__info
        .blog-item__date
          .blog-item__icon
            img(src="img/blog1/calendar.svg", alt="Calendar")
          = date
        .blog-item__comments
          .blog-item__icon
            img(src="img/blog1/comment.svg", alt="Message")
          = comments
        .blog-item__likes
          .blog-item__icon
            img(src="img/blog1/like.svg", alt="Heart")
          = likes
      .blog-item__text= text
      a(href="./post.html").blog-item__link
        | Continue Reading
        .blog-item__arrow