header.header
  .logo
    a(href="./index.html") AppSon
  .container-header
    ul.menu
      li.menu-item.menu-item_active
        a(href="./index.html") Home
      li.menu-item
        a(href="/") Features
      li.menu-item
        a(href="/") Pricing
      li.menu-item.menu-item__pages
        div Pages
        .submenu
          a(href="./blog1.html") Blog
          a(href="./post.html") Blog Post
          a(href="./faq.html") FAQ
          a(href="./signup.html") Sign Up
  a(href="./signin.html").btn.header-btn Sign in