header.header
  .container
    .logo
      a(href="/index.html") AppSon
    .header_right
      ul.menu
        li.menu-item.menu-item_active
          a(href="/index.html") Home
        li.menu-item
          a(href="/") Features
        li.menu-item
          a(href="/") Pricing
        li.menu-item
          a(href="/") Pages
      button.btn.header-btn Sign in