footer.footer
  .footer-1
    .container
      .footer-info
        .logo
          a(href="/index.html") AppSon
        .footer-info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore
        .footer-info__socials
          a(href="#").footer-info__icon
            img(src="img/blog1/facebook.svg", alt="Facebook")
          a(href="#").footer-info__icon
            img(src="img/blog1/twitter.svg", alt="Twitter")
          a(href="#").footer-info__icon
            img(src="img/blog1/youtube.svg", alt="YouTube")
      //- .footer-menu
      .footer-menu__column
        .footer-menu__title Company
        a(href="#").footer-menu__item About Us
        a(href="#").footer-menu__item Press
        a(href="#").footer-menu__item Reviews
        a(href="#").footer-menu__item Partners
      .footer-menu__column
        .footer-menu__title Blog
        a(href="#").footer-menu__item Finance
        a(href="#").footer-menu__item Technology
        a(href="#").footer-menu__item Mobile
      .footer-menu__column
        .footer-menu__title Integrations
        a(href="#").footer-menu__item Android App
        a(href="#").footer-menu__item IOS App
        a(href="#").footer-menu__item Windows App
        a(href="#").footer-menu__item VR Box App
  .footer-2
    .container
      .footer-rights © 2018 Copyright, All Rights Reserved by AppSon
      .footer-links
        a(href="#").footer-links__link Terms & Condition
        a(href="#").footer-links__link Privacy Policy
        a(href="#").footer-links__link Help
