extends ../base

block main
  section.main
    .container
      .main-text
        .main-text__pretitle Latest info
        h2.main-text__title Frequently ask question
        .main-text__page Home - FAQs
      .main-img
        img(src="img/blog1/main-img.png", alt="Main image")
  .faq
    .container
      button.blog-btn
        .blog-btn__arrow
      .faq-sidebar
        a.faq-sidebar__link(href="#") Sales
        a.faq-sidebar__link(href="#") Theme Upload
        a.faq-sidebar__link(href="#") Upload Requirements
        a.faq-sidebar__link(href="#") PSD Template
        a.faq-sidebar__link(href="#") Refund Policy
      .faq-questions
        .faq-question
          .faq-question__title How to upload your Theme?
          .faq-question__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur labore et dolore. 
        .faq-question
          .faq-question__title Which Files need to upload?
          .faq-question__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..
        .faq-question
          .faq-question__title How many times need to be review?
          .faq-question__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..
        .faq-question
          .faq-question__title How to upload your Theme?
          .faq-question__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur labore et dolore. 
        .faq-help
          .faq-help__title Help This Post?
          button.faq-help__btn Yes 
          button.faq-help__btn No